<header class="header container">
    <a href="index.html">
      <img src="img/DLK.png" alt="" width="100" height="52">
    </a>
    <nav class="header_menu">
      <ul class="header_list undotted uppercase">
        <li>
          <a href="blog.html">Blog</a>
        </li>
        <li>
          <a href="catalog.html">Catalog</a>
        </li>
        <li>
          <a href="#">About Us</a>
        </li>
      </ul>
    </nav>
    <button class="border_none"><img src="img/magnifier.svg" alt=""></button>
    <a href="contact.html" class="fat uppercase">Contact Us</a>
  </header>